:root {
  --fxmaster-color-bg-button: rgba(255, 255, 240, 0.8);
}

.fxmaster-groups-list,
.fxmaster-list {
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.fxmaster-groups-list__item,
.fxmaster-list__item {
  padding: 4px;
  list-style: none;
}

.fxmaster-groups-list__item {
  border-bottom: 2px solid var(--color-border-dark-3);
}

.fxmaster-list__item {
  border-bottom: 1px solid var(--color-border-dark-3);
}

.fxmaster-groups-list__item:last-of-type,
.fxmaster-list__item:last-of-type {
  border-bottom: none;
}

.fxmaster-list__item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fxmaster-list__item-header > * {
  flex: 1;
}

.fxmaster-groups-list__collapse,
.fxmaster-list__collapse {
  font-size: var(--font-size-16);
  cursor: pointer;
  text-indent: 5px;
}

.fxmaster-groups-list__collapse:hover,
.fxmaster-list__collapse:hover {
  text-shadow: 0 0 4px var(--color-shadow-primary);
}

.fxmaster-groups-list__collapsible,
.fxmaster-list__collapsible {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 250ms;
}

.fxmaster-groups-list__collapsible > *,
.fxmaster-list__collapsible > * {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.fxmaster-groups-list__collapsible[aria-hidden="true"],
.fxmaster-list__collapsible[aria-hidden="true"] {
  grid-template-rows: 0fr;
}

.fxmaster-list__icon {
  border: none;
  flex: 0 0 18px;
  text-align: center;
  line-height: var(--line-height-20);
  font-size: var(--font-size-16);
}

.fxmaster-form-footer {
  padding: 5px;
}

.fxmaster-form-footer__button {
  background-color: var(--fxmaster-color-bg-button);
  border: 1px solid var(--color-border-light-primary);
}

.fxmaster-multi-select {
  border: 1px solid var(--color-border-light-primary);
  color: var(--color-border-light-1);
  background: transparent;
  border-radius: 0px;
}

.fxmaster-multi-select:focus {
  box-shadow: none;
}

.fxmaster-multi-select__option {
  background: transparent;
}

.fxmaster-multi-select__option:checked {
  color: var(--color-text-light-highlight);
  border: 1px solid var(--color-border-highlight);
}

.fxmaster-text-input[type="text"] {
  color: var(--color-text-light-0);
  border: 1px solid var(--color-border-light-primary);
  text-align: center;
  padding: 2px;
  height: 20px;
}
