.fxmaster-layer-toggle {
  text-align: center;
}

.fxmaster-layer-toggle__icon {
  font-size: var(--font-size-12, 12px);
}

.fxmaster-layer-toggle__checkbox[type="checkbox"] {
  flex: 0 0 var(--line-height-12, 12px);
  width: var(--line-height-12, 12px);
  height: var(--line-height-12, 12px);
  margin: 0 3px;
}

.fxmaster-list--filters {
  height: 370px;
}
