.fxmaster.specials .directory-item.special-effects {
  line-height: inherit;
}

.fxmaster.specials .special-effects .description {
  padding: 4px;
  overflow: hidden;
}

.fxmaster.specials .special-effects .description h4 {
  line-height: var(--line-height-16, 16px);
  text-indent: 5px;
  font-size: var(--font-size-14, 14px);
  height: 32px;
}

.fxmaster.specials .special-effects .description .author {
  line-height: calc(var(--line-height-12, 12px) / 12 * 10);
  color: var(--color-text-light-7, #888);
  text-align: right;
  font-size: calc(var(--font-size-12, 12px) / 12 * 10);
  flex: 0 calc(var(--line-height-12, 12px) / 12 * 10);
}

.fxmaster.specials .special-effects .controls {
  padding: 0 3px;
  line-height: 48px;
  flex: 0 0 40px;
  text-align: right;
}

.fxmaster.specials .special-effects .preview {
  height: 48px;
  flex: 0 0 48px;
  background: black;
  border: 1px solid var(--color-text-light-7, #888);
}

.fxmaster.specials .action-toggle.active {
  color: #f56b00;
}
