.fxmaster .directory-header {
  box-shadow: 0 0 5px var(--color-shadow-dark);
  color: var(--color-text-light-2);
  line-height: var(--line-height-12);
  font-size: var(--font-size-12);
  margin: 0;
  padding: 4px 0;
  align-items: center;
}

.fxmaster-directory-header-attribute--elevation {
  margin-left: 4px;
  flex-basis: 5px;
  position: relative;
}

.fxmaster-directory-header-attribute__icon {
  position: absolute;
  top: -3px;
  left: -1px;
}

.fxmaster-directory-header-attribute__input[type="number"] {
  color: var(--color-text-light-2);
  line-height: var(--line-height-12);
  font-size: var(--font-size-12);
}

.fxmaster.specials .directory-item.folder h3 {
  border: none;
}

.fxmaster .directory-item.active {
  background: #ff640066;
}

.fxmaster.specials .directory-item.special-effects {
  line-height: inherit;
}

.fxmaster.specials .special-effects .description {
  padding: 4px;
  overflow: hidden;
}

.fxmaster.specials .special-effects .description h4 {
  line-height: var(--line-height-16, 16px);
  text-indent: 5px;
  font-size: var(--font-size-14, 14px);
  height: 32px;
}

.fxmaster.specials .special-effects .description .author {
  line-height: calc(var(--line-height-12) / 12 * 10);
  color: var(--color-text-light-7);
  text-align: right;
  font-size: calc(var(--font-size-12) / 12 * 10);
  flex: 0 calc(var(--line-height-12) / 12 * 10);
}

.fxmaster.specials .special-effects .controls {
  padding: 0 3px;
  line-height: 48px;
  flex: 0 0 40px;
  text-align: right;
}

.fxmaster.specials .special-effects .preview {
  height: 48px;
  flex: 0 0 48px;
  background: black;
  border: 1px solid var(--color-text-light-7);
}

.fxmaster.specials .action-toggle.active {
  color: var(--color-border-highlight);
}
