<form>
    <div class="directory-list effects fxmaster">
        {{#each effects as |effect ekey|}}
        <li class="directory-item config weather">
            <header class="flexrow">
                {{#if effect.icon}}<img class="icon" width="24" height="24" src="{{effect.icon}}">{{/if}}
                <label class="collapse">{{effect.label}} <i class="fa
                        fa-angle-down"></i></label>
                <input type='checkbox' name='{{effect.label}}' id="{{effect.label}}" class="effect" {{checked (lookup
                    @root.activeEffects ekey)}} />
            </header>
            {{#if (lookup @root.activeEffects ekey)}}
            <ol class="config collapsible">
                {{else}}
                <ol class="config collapsible collapsed">
                    {{/if}}
                    {{#each effect.parameters as |param key|}}
                    <li class="flexrow">
                        <span>{{localize param.label}}</span>
                        {{{parameter effect param key (lookup
                        @root.activeEffects ekey)}}}
                    </li>
                    {{/each}}
                </ol>
        </li>
        {{/each}}
    </div>
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
</form>