.fxmaster .config.weather {
    padding: 4px;
    border-bottom: 1px solid #333;
}

.fxmaster .config[type=checkbox]:checked + .config.weather {
    border-radius: 3px;
    background-color: #964c0788;
}

.fxmaster .config.weather {
    box-shadow: none;
}

.fxmaster .config label {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}

.fxmaster .config label:hover {
    text-shadow: 0 0 4px #ff6400;
}

.fxmaster .config[type=checkbox] {
    display: none;
}