<form>
    <div class="fxmaster">
        {{#each effects}}
        <input class="config" type='checkbox' name='{{this.label}}' id="{{this.label}}"
            {{checked (isEffectActive this.label)}} />
        <div class="flexcolumn config weather">
            <div class="flexrow">
                <label for="{{this.label}}">{{this.label}}</label>
            </div>
            <div class="flexrow config hide">
                <strong>{{localize "FXMASTER.Density"}}</strong>
                <input class="flex2" type='range' name='{{this.label}}_density'
                    value="{{Config 'density' this.label}}" />
            </div>
            <div class="flexrow config hide">
                <strong>{{localize "FXMASTER.Speed"}}</strong>
                <input class="flex2" type='range' name='{{this.label}}_speed' value="{{Config 'speed' this.label}}" />
            </div>
            <div class="flexrow config hide">
                <strong>{{localize "FXMASTER.Scale"}}</strong>
                <input class="flex2" type='range' name='{{this.label}}_scale' value="{{Config 'scale' this.label}}" />
            </div>
            <div class="flexrow config hide">
                <strong>{{localize "FXMASTER.Tint"}}</strong>
                <input type='checkbox' name='{{this.label}}_apply_tint' {{checked (Config 'apply_tint' this.label)}} />
                <input class="flex2" type='color' name='{{this.label}}_tint' value="{{Config 'tint' this.label}}" />
            </div>
        </div>
        {{/each}}
    </div>
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
</form>