.fxmaster .directory-header {
  box-shadow: 0 0 5px var(--color-shadow-dark, black);
  line-height: var(--line-height-12, 12px);
  font-size: var(--font-size-12, 12px);
  margin: 0;
  padding: 2px 0;
}

.fxmaster.specials .directory-item.special-effects {
  line-height: inherit;
}

.fxmaster .special-effects .description {
  padding: 4px;
  overflow: hidden;
}

.fxmaster .special-effects .description h4 {
  line-height: var(--line-height-16, 16px);
  text-indent: 5px;
  font-size: var(--font-size-14, 14px);
  height: 32px;
}

.fxmaster .special-effects .description .author {
  line-height: calc(var(--line-height-12, 12px) / 12 * 10);
  color: var(--color-text-light-7, #888);
  text-align: right;
  font-size: calc(var(--font-size-12, 12px) / 12 * 10);
  flex: 0 calc(var(--line-height-12, 12px) / 12 * 10);
}

.fxmaster .special-effects .controls {
  padding: 0 3px;
  line-height: 48px;
  flex: 0 0 40px;
  text-align: right;
}

.fxmaster.effects.directory-list {
  overflow-y: scroll;
  height: 370px;
}

.fxmaster.filters.directory-list {
  overflow-y: auto;
  height: 35px;
}
