<form>
    <header>
        <h3>{{localize "CONTROLS.Colorize"}}</h3>
    </header>
    <div class="directory-list filters fxmaster">
        <li class="flexrow directory-item">
            <strong>{{localize "FXMASTER.Tint"}}</strong>
            <input type='checkbox' name='apply_tint'/>
            <input class="flex2" type='color' name='tint'/>
        </li>
    </div>
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
</form>
