<section class="fxmaster sidebar-tab sidebar-directory flexcol">
    <header class="directory-header"></header>
    <ol class="directory-list">
    {{#each effects as |effect id|}}
    <li class="directory-item entity flexrow special-effects" data-effect-id="{{id}}">
      <img class="profile"/>
      <h4>
        <a>
          {{effect.label}}
        </a>
      </h4>
      <div class="controls">
        <a class="edit-effect"><i class="fas fa-edit"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
  <footer class="directory-footer flexrow">
  </footer>
</section>
