<section class="fxmaster sidebar-tab sidebar-directory flexcol">
    <header class="directory-header flexrow">
      <div>
        <a class="sync-effects"><i class="fas fa-sync"></i></a>
      </div>
      <div>
        <a class="add-effect">{{localize "FXMASTER.AddEffect"}} <i class="fas fa-plus"></i></a>
      </div>
    </header>
    <ol class="directory-list">
    {{#each effects as |effect id|}}
    <li class="directory-item entity flexrow special-effects" data-effect-id="{{id}}">
      <div class="preview">
        <video width="46" height="46" muted>
          <source src="{{effect.file}}">
        </video>
      </div>
      <h4>
        <a>
          {{effect.label}}
        </a>
      </h4>
      <div class="controls">
        <a class="del-effect"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
  <footer class="directory-footer flexrow">
  </footer>
</section>
