<form>
    <div class="directory-list effects fxmaster">
        {{#each filters as |filter fkey|}}
        <li class="directory-item config weather">
            <header class="flexrow">
                <div class="weather-icon"><i class="weather-icon {{filter.faIcon}}"></i></div>
                <label class="weather-collapse">{{filter.label}} <i class="fa
                        fa-angle-down"></i></label>
                <input type='checkbox' name='{{filter.label}}' id="{{filter.label}}" class="effect" {{checked
                    (lookup @root.activeFilters fkey)}} />
            </header>
            {{#if (lookup @root.activeFilters fkey)}}
            <ol class="config collapsible">
                {{else}}
                <ol class="config collapsible collapsed">
                    {{/if}}
                    {{#each this.parameters as |param key|}}
                    <li class="flexrow">
                        <span>{{localize param.label}}</span>
                        {{{parameter filter param key (lookup @root.activeFilters fkey)}}}
                    </li>
                    {{/each}}
                </ol>
        </li>
        {{/each}}
    </div>
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
</form>